*{
    outline: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5%;
    padding-block-end: 0.5% ;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.2);
}

nav{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
 }

 

.txt{
    color: #2b35df;
    font-size:clamp(5px,5vw,1.75rem); 
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}   
   

.main_index{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 1%;
    margin-block-end: 0.6%;
    padding-left: 2%;
    padding-right: 2%;
    gap: 12px;
    font-size: clamp(5px,3vw,1.25rem)
}

.image{
    max-width: 100%;
    height: auto;
}

.main_lancamento{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 12px;
    margin-block-end: 1%;
}

.main_contato{
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: center;
    margin-top: 4.15%;
    margin-block-end: 1.1%;
    gap: 12px;
    font-size: 20px;
}

footer{
    box-sizing: border-box;
    color: white;
    background-color: rgb(11, 11, 141);
    display: flex;
    align-items: center;
    padding: 1.5%;
    justify-content: space-between;
    width: 100%;
   
}

.baixo{
    display: flex;
    align-items: center;
    gap: 10px;
  }

.video{
    width: 100%;
    height: 600px;
    margin-top: 1%;
}

.carros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

input[type="checkbox"] {
    transform: scale(2);
  }

table{
    border-collapse: separate;
    border-spacing: 15px;
    text-align:justify;
    
}
.carro{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    
}

button{
    border-radius: 10px;
    border: 0;
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: #2b35df
}
button:hover{
    background-color: #444cdf;
    transform: scale(1.03);
}
.but1{
    border-radius: 10px;
    border: 0;
    width: 200px;
    height: 40px;
    font-size: 0.95rem;
    color: white;
    background-color: #2b35df;
    margin-left: 95px;
    margin-block-end: 58.5%;
}
.but1:hover{
    background-color: #444cdf;
    transform: scale(1.03);
    
}

.cel{
    border: solid, 1px;
    border-radius: 10px;
    width: 280px;
    height: 40px;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}
.sobrevc{
    margin-left: 5.3%;
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*Seção de Responsividade*/

@media (max-width:900px){
    header{
        flex-direction: column;
        padding: 10px 20px;
    }
    nav{
        margin-top: 1%;
    }
    .main_contato{
        flex-direction: column;
        align-items: center;
    }
    footer{
        text-align: center;
    }
    footer img{
        height: 30px;
    }
    .redes{
        display: none;
    }
    .carros{
        flex-direction: column;
    }
}

